@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

*{
	margin:0;
	padding:0;
}
.wrap {
	width: 950px;
	margin:auto;
}

.judul{
	text-align: center;
}

.hidden {
    display: none;
}

#liffAppContent{
	width: 950px;
	margin-left: 500px;
}
 
body {
	background: #eee;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
 
hr {
	border:0;
	background:#E6E6FA;
	height:1px;
}		

button {
  background-color: #808080; 
  border: none;
  color: blue;
  text-align: center;
  padding: 10px 24px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

 
.conteudo {
	width:600px;
	padding:25px;
	margin:25px auto;
	background: #F5DEB3;
	border:1px solid #dedede;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	overflow: auto;
}
 
.conteudo img {
	min-width: 550px;
	margin:0 0 25px -25px;
	max-width: 550px;
}
 
.conteudo h1 {
	padding:0;
	margin:0 0 15px;
	font-weight: normal;
	color: #666;
	font-family: Times New Roman;
}
 
.conteudo p:last-child {
	margin: 0;
}
 
.conteudo .continue-lendo {
	color:#000;
	transition: all 0.5s ease;
	text-decoration: none;
	font-weight: 700; 
}
 
.conteudo .continue-lendo:hover {
	margin-left:10px;
}
 
.post-info {
	float: right;
	font-size: 12px;
	margin: -10px 0 15px;
	text-transform: uppercase;
}
@media screen and (max-width: 960px) {
 
	.wrap {
		width: 90%;
		margin:25px auto;
	}
	.blog {
		width:90%;
	}
 
	.conteudo {
		float:inherit;
		margin:0 auto 25px;
		width:101%;
		border:1px solid #dedede;
		padding:5%;  
		background: #fff;
	}
 
	.conteudo img {
		max-width: 110%;
		margin:0 0 25px -5%;
		min-width: 110%;
	}
 
	.conteudo .continue-lendo:hover {
		margin-left:0;
	}
}
@media screen and (max-width: 460px) {
 
	
	.post-info {
		display:none;
	}
 
	.conteudo {
		margin:25px auto;
	}
 
	.conteudo img {
		margin:-5% 0 25px -5%;
	}			
}
